<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Roundtables</title>

<% include global/head %>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

	<!-- start header -->
  <% include global/header %>
  <!-- end header -->
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Roundtables</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">

	<div class="container">


		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<ul class="event-list">

          <% if(locals.roundtables){ %>

            <% for (var i=0; i < roundtables.length; i++){ %>

          <li>
						<time>
							<span class="day"><%- roundtables[i].day %></span>
							<span class="month"><%- roundtables[i].month.substring(0,3) %></span>
							<span class="year"><%- roundtables[i].year %></span>
						</time>
						<img alt="<%- roundtables[i].name %>" src="images/roundtables/<%- roundtables[i].name.toLowerCase().split(' ').join('').split('.').join('') %>.jpg" />
						<div class="info">
							<h2 class="title"><%= roundtables[i].name %></h2>
							<p class="desc"><%- roundtables[i].blurb %></p>
						</div>
					</li>

          <% }} %>


				</ul>
			</div>
		</div>


				</div>
	</section>
  <% include global/footer %>

</div>

<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<% include global/foot %>
</body>
</html>
