<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= speaker.name %></title>

<% include global/head %>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

	<!-- start header -->
  <% include global/header %>
  <!-- end header -->
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle"><%= speaker.name %></h2>
			</div>
		</div>
	</div>
	</section>

	<div class="container">

    <!-- Our Team starts -->

<br>

<div class="row">



  <div class="col" align="center">
    <div class="card-member pt-10">
      <br>
      <img src="images/speakers/<%- speaker.name.toLowerCase().replace(/ /g,"") %>.jpg" alt="<%- speaker.name %>" height="500">
      <div class="contain-member">
        <h4 class="membername"><%- speaker.name %></h4><br>

        <p class="memberblurb"><br><%- speaker.blurb %><br>&nbsp;</p>

        <% if(speaker.link){ %><p><button onclick="window.open('<%- speaker.link %>','_blank')" class="button memberbutton">More</button></p><% } %>

        <% if(speaker.linkedin){ %><% if(!speaker.link){ %><p style="line-height: 4px;"><br></p><% } %><a target="_blank" href="<%- speaker.linkedin %>" title="LinkedIn" class="btn-sm btn-linkedin"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a><% } %>
        <br>
        <p><button onclick="window.history.back()" class="button memberbutton">Back</button></p>
        <br>
      </div>
    </div>
  </div>



</div>
<!-- /.row -->

    <!-- Our team ends -->

				</div>
	</section>
  <% include global/footer %>

</div>

<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<% include global/foot %>
</body>
</html>
